@import '../variables.scss';

.task {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 16px;
    font-family: $font-task;
    background-color: $color-bg-primary;
    border-radius: 8px;
    h6 {
        font-size: 1rem;
    }
    p {
        margin: 0;
        font-size: 14px;
        span {
            font-size: .75rem;
            color: $color-text-secondary;
        }
    }
    &_buttons {
        text-align: right;
    }
    button {
    margin: 8px 8px 0;
    color: $color-text-main;
    border: none;
    background: transparent;
    p {
        font-size: .75rem;
    }
    }
}