@import './variables.scss';

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }

.app {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
    font-family: $font-main;
    font-size: 16px;
    background-color: $color-bg-main;
    color: $color-text-main;
}