$color-text-main: #ffffff;
$color-text-primary: #0f0e16;
$color-text-secondary: #969dad;

$color-bg-main: #0f0e16;
$color-bg-primary: #1e1d2b;
$color-bg-secondary: #5e5d77;
$color-bg-tertiary: #d3d8e3;

$color-element-focus: #ff78a1;


$font-main: 'Fira Sans', sans-serif;