//color
$color-text-main: #ffffff;
$color-text-primary: #0f0e16;
$color-text-secondary: #969dad;
$color-text-focus: #ff78a1;


$color-bg-main: #0f0e16;
$color-bg-primary: #1e1d2b;
$color-bg-secondary: #969dad;
$color-bg-default: #ffffff;

$color-select-hover: #eceef3;

$color-element-focus: #ff78a1;
$color-element-active: #eceef3;
$color-element-disabled: #d3d8e3;
$color-element-hover: #ffffff;

$color-border: #d3d8e3;
// transition
$transition: all .2 ease-in-out;

//fonts
$font-main: 'Fira Sans', sans-serif;
$font-task: 'Lato', sans-serif;

//breakpoints
$breakpoint-mobile-large: 576px;
$breakpoint-tablet-small: 768px;
$breakpoint-tablet-large: 992px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 2100px;
