@import '../variables.scss';


.header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 104px;
    justify-content: space-between;
    align-items: center;
    img {
        width: 200px;
        height: 56px;
    }
    input {
        height: 40px;
        border: transparent;
        border-radius: 8px;
        font-size: .875rem;
        color: $color-text-main;
        background-color: $color-bg-primary;
        padding-left: 8px;
        outline: none;
    }
    .search {
        input {
            width: 305px;
            margin-left: 48px;
        }
        button {
            background: $color-bg-primary;
            border: none;
            padding: 4px;
            transform: translateX(-110%);
        }
        img {
            width: 24px;
            height: auto;
        }
        &.btn-cross {
            display: none;
        }
    }
    .user {
        display: flex;
        input {
            width: 256px;
            height: 40px;
            margin-right: 48px;
            border: transparent;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.34px;
            color: $color-text-main;
            background-color: $color-bg-primary;
            padding-left: 8px;
            outline: none;
        }
        img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
    }
}