@import '../variables.scss';
@import '../mixins.scss';


.header {
    @include tablet-large {
        flex-direction: row;
        justify-content: space-around;
    }
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: 24px 0;
    align-items: center;

    img {
        width: 200px;
        height: 56px;
        margin-bottom: 24px;
    }
    input {
        height: 40px;
        border: transparent;
        border-radius: 8px;
        font-size: .875rem;
        color: $color-text-main;
        background-color: $color-bg-primary;
        padding-left: 8px;
        outline: none;
    }
    .search {
        display: none;
        @include tablet-large {
            display: flex;
        }
        input {
            width: 305px;
        }
        button {
            background: $color-bg-primary;
            border: none;
            padding: 4px;
            transform: translateX(-110%);
        }
        img {
            width: 24px;
            height: min-content;
            margin: 0;
        }
    }
    .user {
        display: flex;
        input {
            width: 256px;
            height: 40px;
            border: transparent;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.34px;
            color: $color-text-main;
            background-color: $color-bg-primary;
            padding-left: 8px;
            outline: none;
        }
        img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
    }
}