@import '../variables.scss';

.modal-header {
    background-color: $color-bg-secondary;
    color: $color-text-main;
}

.modal-title h4 {
    text-align: center;
}

button.btn {
    border: none;
    &-primary {
        color: $color-text-main;
        background-color: $color-element-focus;
        &:disabled {
            background-color: $color-element-disabled;
        }
        &:disabled:hover {
            background-color: $color-element-disabled;
            color: $color-text-main;
            cursor: not-allowed;
        }
        &:hover {
            background-color: $color-element-hover;
            color: $color-element-focus;
            cursor: pointer;
        }
    }
    &-secondary {
        background: transparent;
        color: $color-text-secondary;
        &:hover {
            background: initial;
            color: $color-text-focus;
        }
    }
}

form {
    input, textarea, select {
        width: 100%;
    }
}

.btn-link {
    position: fixed;
    bottom: 24px;
    right: 48px;
    width: 64px;
    height: 64px;
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 $color-bg-main;
    background-color: $color-element-focus;
    outline: none;
    img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $color-element-hover;
    }
}
