@import '../variables.scss';

.btn-link {
    position: absolute;
    bottom: 24px;
    right: 48px;
    width: 64px;
    height: 64px;
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 $color-bg-main;
    background-color: $color-element-focus;
    outline: none;
    img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $color-element-hover;
    }
}
