@import '../variables.scss';

.list {
    margin-top: 128px;
    &_column {
        display: flex;
        flex-flow: column nowrap;
        border-left: 1px dashed $color-bg-primary;
        &:nth-child(1) {
            border-left: none;
        }
    }
    &_content {
        display: flex;
        justify-content: center;
    }
    &_status {
        width: 100%;
        max-width: 400px;
        height: 56px;
        margin: 8px;
        padding: 16px;
        font-size: 1.125rem;
        text-align: center;
        border-radius: 8px;
        background-color: $color-bg-primary;
    }
}