@import '../variables.scss';
@import '../mixins.scss';

.list {
    @include tablet-large {
        margin: 128px auto 0;
    }
    margin-top: 200px;
    max-width: 1200px;
    &_column {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        border-left: 1px dashed $color-bg-primary;
        &:nth-child(1) {
            border-left: none;
        }
    }
    &_content {
        display: flex;
        flex-direction: column;
    }
    &_status {
        height: 56px;
        margin: 8px;
        padding: 16px;
        font-size: 1.125rem;
        text-align: center;
        border-radius: 8px;
        background-color: $color-bg-primary;
    }
}