@import '../variables.scss';
@import '../mixins.scss';

.modal-content {
    .modal-header {
        height: 56px;
        background-color: $color-bg-secondary;
        color: $color-text-main;
    }

    .modal-title.h4 {
        font-size: 1.1em;
    }

    button.btn {
        border: none;
        &-primary {
            color: $color-text-main;
            background-color: $color-element-focus;
            &:disabled {
                background-color: $color-element-disabled;
            }
            &:disabled:hover {
                background-color: $color-element-disabled;
                color: $color-text-main;
                cursor: not-allowed;
            }
            &:hover {
                background-color: $color-element-active;
                color: $color-element-focus;
                cursor: pointer;
            }
        }
        &-secondary {
            background: transparent;
            color: $color-text-secondary;
            &:hover {
                background: initial;
                color: $color-text-focus;
            }
        }
    }

    form {
        color: $color-text-secondary;
        font-family: $font-task;
        font-size: .875rem;

        label {
            margin-top: 16px;
            span {
                color: $color-text-focus;
            }
        }
        input, textarea {
            border: 1px solid $color-border;
        }
        input, textarea {
            width: 100%;
            padding: 8px 16px;
            border-radius: 8px;
        }

        input {
            height: 40px;
        }

        textarea {
            height: 88px;
        }

        select.form-control {
            width: 100%;
            font-size: .875rem;
            border-radius: 8px;
        }
    }
}

.btn-link {
    @include tablet-large {
        right: 48px;
    }
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    border: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 $color-bg-main;
    background-color: $color-element-focus;
    outline: none;
    img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $color-element-hover;
    }
}